:root {
  --main-white: #ffffff;
  --main-darkBlue: #190140;
  --main-purple: #8f79f2;
  --main-shadow: rgba(55, 55, 55, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Base styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  color: var(--main-darkBlue);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-darkBlue);
}

img {
  display: block;
  width: 450px;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  background-color: #fff;
  box-shadow: 0 10px 10px -10px var(--main-shadow);
  z-index: 10;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-list a {
  padding: 0px 20px;
}

nav a:hover .code {
  color: var(--main-purple);
}

.education-text {
  margin-bottom: 20px;
}

/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 60vh;
  background-color: var(--main-white);
}

.ws1 {
  background-color: rgb(255, 255, 255);
  height: 450px;
  width: 500px;
  border-right: solid var(--main-shadow);
  border-width: 1px;
}

#subheading {
  font-size: 45px;
  font-weight: 600;
  margin: 0px 0;
}

#subheading span {
  color: var(--main-purple);
  padding: 0px 0px 50px 0px;
}

span {
  color: var(--main-purple);
  font-weight: 600;
}

.ws1 h1 {
  text-align: left;
  font-size: 45px;
  padding: 0px 20px 0px 20px;
}

.ws1 p {
  text-align: left;
  padding: 0px 50px 20px 20px;
}

.ws2 {
  background-color: var(--main-white);
  text-align: left;
  padding: 10px 20px 10px 20px;
  height: 450px;
  width: 400px;
}

.ws2 h2 {
  text-align: left;
  padding: 10px 20px 10px 20px;
}

.ws2 p {
  text-align: left;
  padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 800px) {
  .welcome-section {
    display: flex;
    flex-direction: column;
    padding: 100px 20px 50px 20px;
    background-color: var(--main-white);
    height: 100%;
  }
  .ws1 {
    border-right: none;
    height: 100%;
    max-width: 400px;
  }
  .ws2 {
    height: 100%;
    max-width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .welcome-section {
    display: flex;
    flex-direction: column;
    padding: 100px 20px 50px 20px;
    background-color: var(--main-white);
    height: 100%;
  }
  .ws1 {
    padding-bottom: 2px;
    border-right: none;
    width: 300px;
  }
  .ws2 {
    height: 100%;
    width: 300px;
  }
  .ws2 h2 {
    padding: 0px 20px 10px 20px;
  }
  .ws2 p {
    padding: 0px 20px 0px 20px;
  }
}

/* Projects section */
.projects-section {
  text-align: center;
  padding: 100px 20px;
  background: var(--main-white);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 287px) {
  .projects-section-header {
    font-size: 25px;
  }
}

.projects-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* grid-gap: 100px; */
  grid-gap: 4rem;
  width: 100%;
  /* max-width: 1000px; */
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 75px;
}

/* .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 0px;
} */

@media screen and (max-width: 800px) {
  .projects-grid {
    grid-gap: 50px;
  }
}

@media screen and (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
    border-radius: 50px;
    /* padding-left: 20px; */
  }
}

/* @media screen and (max-width: 300px) {
  .projects-grid {
    padding-left: 20px;
  }
} */

.project {
  background: var(--main-white);
  box-shadow: 1px 1px 2px var(--main-shadow);
  border-radius: 5px;
}

.project-image {
  /* height: calc(100% - 68px); */
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 5px;
  
}

.project-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-title {
  font-size: 16x;
  padding: 15px 5px;
  color: var(--main-darkBlue);
}

.project-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  font-weight: bold;
  color: var(--main-purple);
  border-top: 1px solid var(--main-shadow);
  border-bottom: 1px solid var(--main-shadow);
}

/* TITLE HOVER STARTS */
.code {
  color: var(--main-white);
  transition: color 0.3s ease-out;
}

.project-title:hover .code {
  color: var(--main-purple);
}
/* TITLE HOVER ENDS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-purple);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-white);
}

.btn-show-all:hover i {
  transform: translateX(2px);
}

.btn-show-all i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: 50vh;
  padding: 0px 20px;
  background: var(--main-white);
}

@media screen and (max-width: 300px) {
  .contact-section {
    padding: 50px 0px;
  }
}

.contact-section-header > h2 {
  font-size: 25px;
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 20px;
  /*text-shadow: 2px 2px 1px #1f1f1f;*/
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  max-height: 100%;
  background: var(--main-white);
  border-top: 1px solid var(--main-shadow);
}

@media screen and (max-width: 400px) {
  footer {
    width: 100%;
    font-size: 13px;
    text-align: center;
    margin-top: 50px;
  }
}